body 
{
  background-image: url('./backgroud.jpg');
}

.header-img{
  margin-top: 2%;
}

.logo-tec{
  width: 140px;
  height: 120px;
  border-radius: 50%;
}

.div-principal{
  margin-left: 30%; 
  margin-right: 30%;
  margin-top: 3%;
  text-align: center;
  border-radius: 10%;
  background-color: rgba(76, 175, 80, 0.8);
  padding: 20px;
}

.div-input {
  margin: 5%;
  font-size: 16px;
}

.input-text{
  width: 70%;
  font-size: 16px;
  border-radius: 5px;
  padding: 5px;
}

.input-buttons {
  border-radius: 3px;  
  margin: 10px 30px ;
  width: 30%;
  height: 30px;
  color: white;
}

#btn-guardar{
  background-color: green;
}

#btn-cancelar{
  background-color: red;
}

label{
  width: 20%;
  padding-right: 15px;
  text-align: right;
  display: inline-block;
}